// Import common styles
@import "app-common";

.header-container{
    background-color: #f3f3f3;
}

.header-heading{
    color:#000000;
}

.header-icon{
    // width:10%;
    height:40;
}

// Place any CSS rules you want to apply only on iOS here
